
.tab_content{
    display: flex;
    flex-direction: column;
}
.subNavWrap{
    width: 100%;
    height: .4rem;
    display: flex;
    justify-content: center;
    font-size: .12rem;
    padding-top: .07rem;
}
.subCtrl{
    width: 1.28rem;
    height: .28rem;
    box-sizing: border-box;
    text-align: center;
    line-height: .2rem;
    color: rgba(58,58,58,1);
    border: 3px solid rgba(255,104,84,1);
}
.subNavWrap .active{
    background: rgba(255,104,84,1);
    color: white;
}
.subCtrl:nth-of-type(1){
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border-color: rgba(255,104,84,1);
}
.subCtrl:nth-of-type(2){
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-color: rgba(255,104,84,1);
    border-left: none;
}
.classification{
    height: 100%;
}


